.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.real-checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #d6d6d6;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}

.custom-checkbox::before {
  content: "";

  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("./asserts/img/check.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;

  transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.form-cols {
  white-space: nowrap;
}
.child::file-selector-button {
  border: 2px solid #5db7de;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #5db7de;
  transition: 1s;
  cursor: pointer;
}
.child::file-selector-button:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}
.child_colums {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
