ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #000000;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #3d348b;
  text-decoration: underline;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-choice {
  margin-top: 80px;

  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  flex-basis: 416px;
  justify-content: center;
  align-items: center;
}
.display {
  display: flex;
}
.button {
  display: flex;
  justify-content: center;
  border: 2px solid #5db7de;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #5db7de;
  transition: 1s;
  cursor: pointer;
}
.input-style {
  margin-top: 20px;
  height: 40px;

  width: 100%;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #d6d6d6;
}
.container-input {
  flex-basis: 416px;
}
.text-logo-input {
  margin: 40px;
  text-align: center;
  max-width: 700px;
}
