* {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}


header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  height: 110px;
}
.navigation {
  display: flex;
  gap: 30px;
  font-size: 16px;

  justify-content: center;
}
.navigation a {
  position: relative;
  color: #333333;
  text-decoration: none;
}
.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0px;
  bottom: -5px;
  background: black;
  transform-origin: right;
  border-radius: 10px;
  transform: scaleX(0);
  transition: 0.5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.search1 {
  display: flex;
  gap: 10px;
}
.search {
  border-right: 0;
  border-top: 0;
  border-left: 0;
  outline: none;

  border-color: #dbdbdb;
}
.indents {
  margin-top: 150px;
  margin-bottom: 150px;
}
main {
  color: #fff;
  width: 100%;
  min-height: 750px;
  display: flex;
  background-image: url("./../img/fon1.jpg");
}
.wrap {
  width: 100%;
  padding: 0 20px;
  max-width: 1300px;
  margin: auto;
}
.flex {
  display: flex;
}
.port {
  gap: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 140%;
}
h2 {
  font-size: 50px;
  line-height: 140%;
}
h5 {
  font-size: 16px;
}
.text_grow {
  flex-grow: 1;
  text-decoration: underline dotted;
  color: #3d348b;
}
.services-info {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.center {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.services1 {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  padding: 30px 35px;
  justify-content: space-between;
  background: #5db7de;
  border-radius: 20px;
  width: 306px;
  flex-wrap: nowrap;
  height: 205px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.openservices {
  display: flex;
  color: #fff;
  width: 100%;
}
.companiy {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
}
.frame {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.frame55 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
.row {
  display: flex;
  gap: 10px;
}
.row-size {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services2 {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  padding: 30px 35px;
  justify-content: space-between;
  background: #4b1c97;
  border-radius: 20px;
  width: 306px;
  color: #fff;
  flex-wrap: nowrap;
  height: 150px;
  font-size: 13px;
}

.buy {
  width: 526px;
  height: 170px;
  color: #fff;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  background: #5db7de;
  border-radius: 20px;
  aspect-ratio: 3/1;

  flex-wrap: nowrap;

  padding: 30px 35px;
  gap: 38px;
}
.video {
  gap: 30px;
  margin-left: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.rectangle27 {
  background-color: #f5f5f9;
  padding: 100px 312px 100px 312px;
}
.videoport {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./../img/fon1.jpg);
  background-size: cover;
  opacity: 0.5;
  width: 526px;
  height: 350px;
}
.pause {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.block-news {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px 20px;
  padding: 0 50px 50px 50px;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  transition: 0.3s;
}
.photo {
  width: 100%;
}
.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.container {
  padding: 15px;
  gap: 10px;
}
.footer {
  padding: 15px;
  gap: 20px;
  color: #fff;
  display: flex;
  background: #3d348b;
  opacity: 0.85;
  justify-content: space-evenly;
}
.rectangle29 {
  background: #3d348b;
  color: #fff;
}
.column {
  display: flex;
  justify-content: center;
}
.frame70 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
ul {
  padding: 0;
}
li {
  margin-left: 24px;
  padding-top: 18px;
  font-size: 16px;
  line-height: 140%;
}
.text-news2 {
  font-weight: 700;
  color: #3d348b;
  font-size: 16px;
  line-height: 140%;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.text-news1 {
  display: flex;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
}
