* {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  height: 110px;
}
.navigation {
  display: flex;
  gap: 30px;
  font-size: 16px;

  justify-content: center;
}
.navigation a {
  position: relative;
  color: #333333;
  text-decoration: none;
}
.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0px;
  bottom: -5px;
  background: black;
  transform-origin: right;
  border-radius: 10px;
  transform: scaleX(0);
  transition: 0.5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.search1 {
  display: flex;
  gap: 10px;
}
.search {
  border-right: 0;
  border-top: 0;
  border-left: 0;
  outline: none;

  border-color: #dbdbdb;
}
.indents {
  margin-top: 150px;
  margin-bottom: 150px;
}
main {
  color: #fff;
  width: 100%;
  min-height: 750px;
  display: flex;
  background-image: url("./../img/fon1.jpg");
}
.wrap {
  width: 100%;
  padding: 0 20px;
  max-width: 1300px;
  margin: auto;
  gap: 60px;
}
.flex {
  display: flex;
}
.port {
  gap: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 140%;
}
.text_grow {
  flex-grow: 1;
  text-decoration: underline dotted;
  color: #3d348b;
}
.services-info {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.center {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
}
.openservices {
  display: flex;
  color: #fff;
  width: 100%;
}
.companiy {
  display: flex;
  align-items: center;
  gap: 20px;
}
.frame {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.frame55 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
.row {
  display: flex;
  gap: 10px;
}
.row-size {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buy {
  width: 526px;
  height: 170px;
  color: #fff;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  background: #5db7de;
  border-radius: 20px;
  aspect-ratio: 3/1;

  flex-wrap: nowrap;

  padding: 30px 35px;
  gap: 38px;
}
.video {
  gap: 30px;
  margin-left: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rectangle27 {
  background-color: #f5f5f9;
  padding: 100px 312px 100px 312px;
}

.videoport {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./../img/fon1.jpg);
  background-size: cover;
  opacity: 0.5;
  width: 526px;
  height: 350px;
}
.pause {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-news {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px 20px;
  padding: 0 0px 50px 0px;
}
.card-data {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
  transition: 0.3s;
}
.photo {
  width: 100%;
}
.card-data:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.footer {
  padding: 49px;
  color: #fff;
  display: flex;
  background-color: #3d348b;
  opacity: 0.85;
  white-space: nowrap;
  justify-content: space-evenly;
}
.rectangle29 {
  background: #3d348b;
  color: #fff;
}
.indents {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.column {
  display: flex;
  justify-content: center;
}
.frame70 {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-news-color {
  color: #3d348b;
}

.text-news1 {
  display: flex;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 60px;

}
