.text_lg {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
}
.card-title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text_md {
  font-weight: 400;
  line-height: 140%;
  font-size: 16px;
}
.text_sm {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
}
.title_md {
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
}

